.gold{
    color: #FFB400;
}
.white{
    color: #E6E8E6
}
html{
    background: #131936;
    margin: 0;
    font-size: 1.5em;
}
body{
    margin: 0;
}
h1{
    font-family: 'Broadway', sans-serif;
}
.title{
    text-align: center;
}
.names{
    display: flex;
    justify-content: space-evenly;
}
.life-lines{
    margin-left: 32%;
    margin-top: 10%;
}
@media screen and (max-width: 1024px){

    .life-lines-svg {
        width: 85%;
        height: 85%;

    }
}
